<h1>New task</h1>

<%= simple_form_for @task do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :details %>
  <%= f.check_box :completed, {}, true, false %>
  <%= f.submit "Create" %>
  <% end %>
